.custom_nav{
    background-color:rgb(24, 16, 7);
}
.nav-link{
    color:rgb(141, 47, 113) ;
    text-decoration: underline;
    position: relative;

}
.navbar-toggler-icon{
    color: white;
    background-color: red;
}

